@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
  }
}

body {
  color: #000;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.embla {
  overflow: hidden;
  width: 950px;
  position: relative;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  height: 315px;
  gap: 10px;
}
.embla__slide {
  flex: 0 0 20%;
}

.embla__slide:last-child {
  margin-right: 0;
}
.embla__tn_position {
  margin-top: 20px;
}
