@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --font--roboto: "Roboto", sans-serif;
    --font-open-sans: "Open_Sans", sans-serif;
  }
}

body {
  color: #000;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (min-width: 0px) {
  .resizes__containers {
    @apply grid  grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: 1000px;
    float: left;
  }
  .header__container {
    margin: auto;
    float: left;
    width: 1000px;
  }
}

@media (min-width: 1001px) {
  .resizes__containers {
    @apply grid  grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: left;
  }
  .header__container {
    margin: auto;
    float: none;
    width: auto;
  }
}

@media (min-width: 1000px) {
  .resizes__containers {
    @apply grid  grid-cols-3 md:grid-cols-3 lg:grid-cols-3 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: none;
  }
  .header__container {
    margin: auto;
    float: none;
    width: auto;
  }
}

@media (min-width: 999px) {
  .resizes__containers {
    @apply grid  grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: none;
  }
  .header__container {
    margin: auto;
    float: none;
    width: auto;
  }
}

@media (min-width: 1240px) {
  .resizes__containers {
    @apply grid  grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: none;
  }
  .header__container {
    margin: auto;
    float: none;
    width: auto;
  }
}

@media (min-width: 1260px) {
  .resizes__containers {
    @apply grid  grid-cols-5 md:grid-cols-5 lg:grid-cols-5 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: none;
  }
  .header__container {
    margin: auto;
    float: none;
    width: auto;
  }
}

@media (min-width: 1440px) {
  .resizes__containers {
    @apply grid  grid-cols-5 md:grid-cols-5 lg:grid-cols-5 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: none;
  }
  .header__container {
    margin: auto;
    float: none;
    width: auto;
  }
}

@media (min-width: 2000px) {
  .resizes__containers {
    @apply grid grid-cols-5 md:grid-cols-5 lg:grid-cols-5 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: none;
  }
  .header__container {
    margin: auto;
    float: none;
    width: auto;
  }
}

.carousel__container {
  margin: auto;
  @apply overflow-hidden mr-5 ml-5;
  position: relative;
  margin-top: 40px;
}
/* save this bacground for future use */
/* bg-slate-200 */

/*Corausel css*/
.carousel__content {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  @apply flex;
}

.carousel__button {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply h-[40px] w-[40px] rounded shadow-md border border-neutral-300;
  top: 50%;
}

.carousel__button--prev {
  position: absolute;
  z-index: 1;
  right: 24px;
  transform: translate(0, -50%);
}

.carousel__button--next {
  position: absolute;
  left: 24px;
  transform: translate(0, -50%);
}

.card3_main_container {
  width: 170px;
  float: none;
  @apply ml-2 mr-2;
}

.embla {
  overflow: hidden;
  @apply overflow-hidden mr-5 ml-5;
  margin-top: 40px;
  margin-left: 65px;
  margin-right: 65px;
}

.embla__container {
  display: flex;
  margin: auto;
}

.embla__slide {
  flex: 0 0 auto;
}

.carousel_wrapers {
  margin: auto;
  position: relative;
}

.main__header {
  background-color: #263238;
  /* @apply shadow-lg pt-1 pl-2 pr-2 pb-1 flex items-center gap-32; */
}

/*Animation*/
@keyframes collaps {
  0% {
    z-index: 100;
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-900px);
  }
}

@keyframes expand {
  0% {
    z-index: 100;
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* #111111 !imported*/
/* #8e9090*/

.navBar {
  max-width: 900px;
  width: 85%;
  overflow: hidden;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #8e9090; */
  /* background-color: #fff; */
  z-index: 1000;
  transform-origin: left center;
  transform: translateX(-900px);
}

.navBarContentHeader {
  width: auto;
  @apply bg-slate-800;
}
/* .sideNavHeader {
  color: white;
  font-weight: bold;
  background-color: rgb(35, 47, 62);
  padding: 10px 0 10px 30px;
} */
/*window overlay*/
#overlay {
  display: none;
  position: fixed; /* Positions the overlay relative to the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black background */
  z-index: 50; /* Makes sure the overlay is above other content */
  overflow: hidden; /* Prevents scrolling within the overlay */
}

body.overlay-active {
  overflow: hidden; /* Prevents scrolling on the body when the overlay is active */
}
