@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #fff;
    --font--roboto: "Roboto", sans-serif;
    --font-open-sans: "Open_Sans", sans-serif;
  }
}

body {
  color: #000;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (min-width: 0px) {
  .resizes__containers {
    @apply grid  grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: 1000px;
    float: left;
  }
}

@media (min-width: 1001px) {
  .resizes__containers {
    @apply grid  grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: left;
  }
}

@media (min-width: 1000px) {
  .resizes__containers {
    @apply grid  grid-cols-3 md:grid-cols-3 lg:grid-cols-3 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: none;
  }
}

@media (min-width: 999px) {
  .resizes__containers {
    @apply grid  grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: none;
  }
}

@media (min-width: 1240px) {
  .resizes__containers {
    @apply grid  grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: none;
  }
}

@media (min-width: 1260px) {
  .resizes__containers {
    @apply grid  grid-cols-5 md:grid-cols-5 lg:grid-cols-5 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: none;
  }
}

@media (min-width: 1440px) {
  .resizes__containers {
    @apply grid  grid-cols-5 md:grid-cols-5 lg:grid-cols-5 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: none;
  }
}

@media (min-width: 2000px) {
  .resizes__containers {
    @apply grid grid-cols-5 md:grid-cols-5 lg:grid-cols-5 gap-2 mr-3 ml-3;
  }
  .adjust_screen {
    width: auto;
    float: none;
  }
}

.carousel__container {
  margin: auto;
  @apply overflow-hidden mr-5 ml-5;
  position: relative;
  margin-top: 40px;
}
/* save this bacground for future use */
/* bg-slate-200 */

/*Corausel css*/
.carousel__content {
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  @apply flex;
}

.carousel__button {
  position: absolute;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply h-[40px] w-[40px] rounded shadow-md border border-neutral-300;
  top: 50%;
}

.carousel__button--prev {
  right: 0;
  transform: translate(0, -50%);
}

.carousel__button--next {
  left: 0;
  transform: translate(0, -50%);
}

.card3_main_container {
  width: 185px;
  float: none;
  @apply ml-2 mr-2;
}

.embla {
  overflow: hidden;
  margin: auto;
  @apply overflow-hidden mr-5 ml-5;
  position: relative;
  margin-top: 40px;
}

.embla__container {
  display: flex;
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.embla__slide {
  flex: 0 0 auto;
}
